* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */
.active-link {
    color: #04aa6d !important;
    font-weight: bold;
    font-size: 16px;
    font-family: Geneva, Tahoma, sans-serif;
}
.nav {
    background-color: #243140;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
}
.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 60px;
    /* padding: 8px; */
    margin: auto;
    justify-content: space-between;
}
.navbar {
    width: 350px;
    /* background-color: green; */
    padding: 5px;
}

.logo img {
    height: 40px;
    width: auto;
}
.navlink ul {
    display: flex;
    flex-direction: row;
}
.navlink li {
    margin-right: 50px;
}
.rLP {
    display: flex;
    flex-direction: row;
}
.navbarRightside {
    display: flex;
    flex-direction: row;
    width: 70%;
    /* background-color: red; */
    padding: 16px;
    justify-content: space-between;
}
ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: #f2f2f2;
    /* margin-right: 20px; */
    align-items: center;
    font-size: 16px;
    font-family: Geneva, Tahoma, sans-serif;
}
.register_login {
    color: #f2f2f2;
    font-size: 16px;
    font-family: Geneva, Tahoma, sans-serif;
}
.line {
    width: 2px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #64717f;
}
/* searchbar */
.searchBG {
    height: 70px;
    margin: auto;
    width: 97%;
}
.searchinput {
    display: flex;
    flex-direction: row;
    width: 100%;
}
input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
.inputcon1 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    width: 46%;
    height: 50px;
    margin-right: 20px;
    padding-right: 16px;
}
.inputcon1 p {
    margin: 16px;
}
.inputcon2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    width: 44%;
    height: 50px;
    margin-right: 20px;
    padding-right: 16px;
}
.inputcon2 p {
    margin: 16px;
}
.button {
    height: 45px;
    width: 100px;
    border: none;
    color: white;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}
.button1 {
    background-color: #005a91;
    color: #1bbcaa;
    font-weight: bold;
}

.button1:hover {
    background-color: #4caf50;
    color: white;
}

/* index.blade.php */

.indexBG {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
}
.jobboardCon {
    width: 70%;
    height: 100vh;
    margin: auto;
    padding-top: 80px;
    /* border: 1px solid #396200; */
}
.indexLRcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.left {
    width: 45%;
    height: 83vh;
    /* background-color: red; */
    overflow: auto;
    /* border-radius: 10px; */
}
.right {
    width: 50%;
    height: 83vh;
    background-color: white;
    overflow: auto;
    padding: 16px;
    border-radius: 10px;
}

/* card */

.jobCard {
    width: 99%;
    height: 350px;
    margin-bottom: 16px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: white;
    border: 1.5px solid #319acb;
    padding: 16px;
}
.status {
    width: 100%;
    height: auto;
}
.new {
    color: green;
}

.old {
    color: rgb(255, 145, 0);
}

/* create */
.createBG {
    /* background-image: url("/img/bg.png"); */
    background-color: ghostwhite;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: whitesmoke;
    width: 675px;
    height: auto;
    border: 1px solid #396200;
}
.card-header {
    padding: 16px;
    text-align: center;
    background-color: antiquewhite;
}

.card-body {
    background-color: whitesmoke;
    width: auto;
    align-self: center;
    height: auto;
    padding: 16px;
}
.formore {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: inline-block;
    display: flex;
    justify-content: center;
}
.job-decs {
    max-height: 400px;
    overflow: auto;
}
#text-area {
    min-width: 640px;
    max-width: 640px;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputCon {
    display: flex;
    flex-direction: column;
}
select {
    appearance: none;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    outline: none;
}
.inputCon-field {
    padding-left: 10;
}
.job-type {
    display: flex;
    flex-direction: row;
}
.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.button2 {
    width: 300px;
    background-color: #005a91;
    align-self: center;
}

/* company.blade.php */

.companiesBG {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
}
.companiesCon {
    width: 70%;
    height: 100vh;
    margin: auto;
    /* background-color: green; */
}
.searchCon {
    width: 70%;
    margin: auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchCon h1,
h3 {
    font-family: Helvetica, sans-serif;
    color: black;
}
.searchIC {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.button3 {
    width: 200px;
    background-color: #005a91;
    color: white;
    margin-left: 16px;
}

/* companyCon */
.concon {
    /* background-color: white; */
    width: 70%;
    margin: auto;
    margin-top: 26px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
}
.concon h1 {
    margin-bottom: 5px;
}
.companyCon {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
    /* background-color: #005a91; */
    max-height: 500px;
    overflow: auto;
    border-top: 1px solid #243140;
}
.companyContainer {
    width: 280px;
    height: 80px;
    border: 1px solid #243140;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-left: 0px !important;
}
.companyLogo {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: #64717f;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.companyLogo img {
    width: 50px;
    height: 50px;
    margin: auto;
}
.companyinfo {
    width: 68%;
    height: 80px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.salalryJobs {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.salalryJobs p a {
    color: #243140;
}
